@charset "utf-8";
/* CSS Document */
body{
	margin: 0 auto;
	font-family:Arial, Helvetica, sans-serif;
	}
#header img {
	width:100%;
	}
	
.container{
	width:820px;
	margin:0 auto;
	letter-spacing:2px;
	text-transform:uppercase;
	line-height:40px;
	font-size:19px;
	
	}
.content{
	color:#a4a2a3;
	}
.content span{
	display:block;
	}

.col1{
	margin-right:90px;
	display:inline-block;
	width:190px;
	}

	.col2{
		text-align:center;
		display:inline-block;
		width:300px;
	display:inline-block;
	margin-right:95px;
	}
	.col3{
		text-align:right;
		display:inline-block;
		width:120px;
	}

input{
	padding: 0 10px;
	height:40px;
	width:350px;
	display:block;
	border: 1px solid #f5f5f5;
	background-color:#f5f5f5;
	margin-bottom:15px;
	}	
strong{
	color:#00fbd0;
	font-weight:normal;
	}
.reservation{
	background-color:#f5f5f5;
	padding-top:10px;
	  padding-bottom: 10px;
	}
.textCenter{
	text-align:center;
	margin-bottom:0px;
	}
input::-webkit-input-placeholder {
   color:#02fccf;
}
input:-moz-placeholder { /* Firefox 18- */
   color: #02fccf;  
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #02fccf;  
}

input:-ms-input-placeholder {  
   color: #02fccf;  
}

#billSection{
	margin-left:20px;
	margin-right:20px;
	width:370px;
	 float:left;
	}

#articalSection{
	margin-left:20px;
	float:right;
	width:350px;
	font-weight:normal;
	}
.inputSeitinghalfLeft{
	display: inline-block;
  width: 154px;
  margin-right:5px;
	}
.inputSeitinghalfright{
		display: inline-block;
  		width: 154px;
		margin-left:5px;
		}

.green{
	color:#00fbd0;
	font-size: xx-large;
	 margin-bottom: 5px;
	}
.reservationText{
	text-transform:uppercase;
	line-height:40px;
	font-size:19px;
	}
.reservationTextCenter{
	text-align:center; 
	font-size:small;
	}
.artical{
	font-size: 13px;
  line-height: 26px;
  color:#a3a3a3;
	}